body {
  padding-top: 45px;
  background: url("../img/Burger.jpeg") no-repeat center center fixed;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
}

.bg-bright {
  color: #333;
  background: rgba(238, 238, 238, 0.9);
}

.container {
  .row {
    padding: 0 10px;
  }
}

#bodyCover {
  position: absolute;
  top: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.1);
}

.navbar {
  opacity: 0.8;
}

section {
  // padding and negative margin are to prevent navbar overlap on navigation
  margin-top: 50px - 60px;
  padding-top: 60px;
}

#title {
  margin-top: 200px;
  font-family: 'Bungee Shade', cursive;
  h1 {
    font-size: 5em;
  }
}

#restaurant {
  margin-top: 250px;
  img {
    margin-top: 11%;
  }
}

#food {
  .card {
    height: 400px;
  }
}

#team {
  img {
    margin-top: -35px;
  }
  i.fa {
    font-size: 35px;
  }
}

#reservation {
  p {
    font-size: 20px;
  }
  i.fa {
    font-size: 1.5em;
  }
}

@media(max-width: 1200px) {
  #reservation {
    p {
      font-size: 15px;
    }
    i.fa {
      font-size: 1.5em;
    }
  }
}

@media(max-width: 999px) {
  #title {
    margin-top: 150px;
    h1 {
      font-size: 3.5em;
    }
  }
  #restaurant {
    margin-top: 200px;
  }

  #food {
    .card {
      height: 500px;
    }
  }
}